* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-image: url(images/back.png);
}

#wrapper {
 width: 100%;
 display: flex;
 flex-direction: column;
}

#main {
 width: 100%;
 height: 100vh;
}

#side-menu {
 width: 80px;
 height: 100vh;
 background-color: #556b2f;
 position: fixed;
 z-index: 100;
}

#top {
 width: calc(100% - 80px);
 height: 100vh;
}
